* {
  margin: 0;
  padding: 0;
}

.arround {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 53px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 177px;
}

.logo__text {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.logo__text_H3 {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
  margin-top: 18px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 243px;
  color: #292F36;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.nav4 {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 31.25px */
}

.nav5 {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 300%;
  /* 66px */
  letter-spacing: 0.22px;
}

.main_size {
  width: 1200px;

}

.main {
  margin-top: 53px;
}

.top {
  background-image: url("../assets/main.png");
  background-size: cover;
  height: 758px;
  border-radius: 50px;
}

.top__block {
  margin-left: 53px;
  padding-top: 212px;
}

.top__title {
  color: #296ab5;
  font-family: DM Serif Display;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  width: 434px;
}

.top__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  width: 434px;
}

.top__button {
  color: #FFF;
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;
  width: 220px;
  height: 75px;
  margin-top: 21px;
  border-radius: 18px;
  background: #292F36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  display: flex;
}

.top__button-text {
  margin: 26px auto 26px 48px;
}

.top__button-img {
  margin: 26px 48px 26px auto;
}

.middle {
  margin: 93px auto;
  display: flex;
  flex-direction: column;
}

.middle__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 737px;
}

.middle__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 62.5px */
  letter-spacing: 1px;
}

.middle__text {
  color: #4D5053;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
}

.middle__mainTitle {
  display: inline-flex;
  justify-content: center;
}

.bids {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 104px;
  column-gap: 104px;
  row-gap: 56px;
  margin-top: 93px;
}

.bid {
  width: 547px;
}

.bid__name {
  margin-top: 24px;
}

.bid__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 31.25px */
  letter-spacing: 0.5px;
}

.bid__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
}

.bid__data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bid__button {
  margin-top: 23px;
}

.history {
  background-color: #F4F0EC;
  justify-content: center;
  display: flex;
}

.history__center {
  width: 1200px;
}

.history__size {
  display: flex;
  flex-direction: row;
  height: 457px;
  width: 246px;
  justify-content: space-between;
}

.history__main_size {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.history__number {
  color: #CDA274;
  font-family: DM Serif Display;
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 106.25px */
  letter-spacing: 1.7px;
}

.history__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
}

.history__line {
  width: 1px;
  height: 130px;
  background: #CDA274;
  margin-top: 151px;
}

.history__data {
  margin-top: 151px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin-right: 54px; */
}

.articlesNews {
  margin-top: 96px;
}

.articlesNews__h1 {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 62.5px */
  letter-spacing: 1px;
}

.articlesNews__h3 {
  color: #4D5053;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
}

.articlesNews__title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 96px;
  width: 811px;
}

.articleN {
  padding: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 358px;
}

.articleN__backgroundArticle {
  background-color: #F4F0EC;
}

.articleN__text {
  color: #292F36;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 31.25px */
  letter-spacing: 0.5px;
  width: 305px;
  margin-top: 21px;
}

.articleN__date {
  color: #4D5053;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.16px;
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 21px;
}

.articleN__designName {
  color: #4D5053;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.16px;
  text-transform: capitalize;
  position: absolute;
  top: 275px;
  left: 50px;
  background-color: white;
  border-radius: 8px 8px 8px 0px;
  background: #FFF;
  width: 124px;
  height: 31px;
  text-align: center;
  padding-top: 9px;
}

.articleN_subcontent {
  height: 441px;
  padding: 21px;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}

.articleN__img {
  border-radius: 62px 62px 0 0;
  width: 340px;
  height: 290px;
}

.articleN_data_subcontainer {
  display: flex;
  justify-content: space-between;
}

.articleN__button {
  margin-top: 10px;
}

.articles {
  display: flex;
  margin-top: 52px;
  flex-wrap: wrap;
  width: 1200px;
}

.footer {
  margin-bottom: 134px;
}

.footer__subcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 96px;
  width: 1199px;
}

.footer__logo {
  width: 393px;
}

.footer__pages {
  width: 393px;
  margin-left: 101px;
}

.footer__contact {
  width: 393px;
  margin-left: 101px;
}

.footer__Social {
  margin-top: 31px;
}

.footer__logoSocial {
  margin-right: 54px;
}

.footer__pages {
  padding-left: 101px;
}

.footer__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 31.25px */
}

.blog__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  /* background-image: url("../assets/BlogImg.png"); */
  background-repeat: no-repeat;
  background-position: center;
  height: 356px;
}

.blog__topdetails {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; */
  background-image: url("../assets/Blog_details_Banner.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 356px;
}

.blog__topTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 503px;
  padding: 41px 78px;
  border-radius: 37px 37px 0px 0px;
  background: #FFF;
}

.blog__details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 200px;
}

.blog__content {
  width: 799px;
}

.blog__tags {
  width: 345px;
  margin-left: 52px;
}

.blog__articleDateCrumbs {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
}

.blog__articleText {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  margin-top: 48px;
}

.blog__articleImg {
  margin-top: 11px;
  width: 790px;
  height: 365px;
}

.blog__articleTextImg {
  margin-top: 35px;
}

.latestPost {
  margin-top: 200px;
  width: 1200px;
}

.latestPost__date {
  color: #4D5053;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.16px;
  text-transform: capitalize;
}

.latestPost__center {
  display: flex;
  justify-content: center;
}

.latestPost__body {
  margin-top: 27px;
  display: flex;
}

.latestPost__text {
  margin-left: 65px;
  width: 469px;
}

.latestPost__subcontainer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.latestPost__textSubcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.latestPost__h3 {
  text-align: left;
  margin-top: 22px;
}

.numerator {
  display: flex;
  justify-content: center;
  margin-top: 51px;
  margin-bottom: 139px;
  gap: 20px;
}

.numerator__Subcontainer {
  position: relative;
}

.numerator__span {
  position: absolute;
  top: 18px;
  left: 18px;
}

.tag__batton {
  padding: 9px 30px;
  border-radius: 10px;
  background: #F4F0EC;
}

.tag__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 24px;
}

.batton_bacground {
  background-color: #292F36;
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */